{% extends "page.html" %}

{% block pageContent %}
<h1>Need some work?</h1>

<p>
  I am currently looking for contracting work. As you can see in
  my <a href="/archive">posts</a>, I am proficient in many areas.
  Although I'm most experienced with <strong>React frontends</strong>, I am very good
  at solving general architectural problems and balancing high quality
  code with quick deliverables.
</p>

<p>
  I am comfortable with both functional and imperative paradigms, but
  favor functional. I've built immutable data structures, Redux-driven
  React apps, OCaml-based web servers, and more.
</p>

<p>
  I have over 10 years experience in the tech industry and a deep
  knowledge to draw from when working with you. For the last 6 years I
  have been working remotely so I am very good at constant
  communication and working with distributed teams.
</p>

<p>
  Email me</a> at
  <a href="mailto:longster@gmail.com" class="red-link">longster@gmail.com</a> if you
  are interested in working together!
</p>
{% endblock %}

