{% extends "page.html" %}

{% set bodyid = shorturl|replace(',', '-') %}
{% set bgcolor = "bg-white" %}

{% block facebookMeta %}
<meta property="og:type" content="website" />
<meta property="og:url" content="https://jlongster.com/{{ shorturl }}" />
<meta property="og:title" content="{{ title }}" />
<meta
  property="og:description"
  content="James Long's blog"
  />
<meta
  property="og:image"
  content="https://jlongster.com/meta-image.png"
  />
{% endblock %}

{% block twitterMeta %}
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://jlongster.com/{{ shorturl }}" />
<meta
  property="twitter:title"
  content="{{ title }}"
  />
<meta
  property="twitter:description"
  content="James Long's blog"
  />
<meta
  property="twitter:image"
  content="https://jlongster.com/meta-image.png"
  />
{% endblock %}

{% block pageContent %}
<article class="post px-5 lg:px-40 mt-8">
  <div>
    <h1 class="mb-3 font-display tracking-tight leading-none uppercase text-blue-600">{{ title }}</h1>
    <div class="text-gray-400 text-sm mb-12">{{ date|displayDate }}</div>
  </div>

  {{ content | replace("%ASSETS%", assetPath) | postContent(date) }}

  <div class="text-gray-400 text-sm">
    {% for tag in tags %}
    <a href="/tag/{{ tag }}">{{ tag }}</a>
    {% endfor %}
  </div>

  {% include "subscribe.html" %}

  <script src="/js/lazy-image.js"></script>
</article>
{% endblock %}


