{% extends "page.html" %}

{% set bodyid = shorturl|replace(',', '-') %}
{% set bodyclass = "post-page" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/css/post.css" />
{% endblock %}

{% block pageContent %}

<article class="post px-5 lg:px-40 mt-8">
  <div>
    <h1 class="mb-3 font-semibold font-display tracking-tight leading-none uppercase text-teal-600">{{ title }}</h1>
    <div class="text-gray-400 text-sm mb-12">{{ date|displayDate }}</div>
  </div>

  {{ content|postContent(date) }}

  <div class="text-gray-400 text-sm">
    {% for tag in tags %}
    <a href="/tag/{{ tag }}">{{ tag }}</a>
    {% endfor %}
  </div>
</article>
{% endblock %}


{% block additionalFooter %}
<div class="additional-footer">
  <div class="additional-footer-inner-ugh">
    <div class="meta">
      <div class="comments">
        <a href="https://twitter.com/jlongster">Tweet at me</a> to tell me what you love about this.
      </div>
      <div class="social">
        <div class="twitter">
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="jlongster">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>

        <div class="hn">
          <a href="https://news.ycombinator.com/submit" class="hn-button" data-count="horizontal">Vote on Hacker News</a>
          <script type="text/javascript">var HN=[];HN.factory=function(e){return function(){HN.push([e].concat(Array.prototype.slice.call(arguments,0)))};},HN.on=HN.factory("on"),HN.once=HN.factory("once"),HN.off=HN.factory("off"),HN.emit=HN.factory("emit"),HN.load=function(){var e="hn-button.js";if(document.getElementById(e))return;var t=document.createElement("script");t.id=e,t.src="//hn-button.herokuapp.com/hn-button.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)},HN.load();</script>
        </div>
      </div>
    </div>
    {% if readnext %}
    <div class="readnext">
      <h3>Read Next: <a href="/{{ readnext.shorturl }}">{{ readnext.title }}</a></h3>
      <p>{{ readnext.abstract }}</p>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
