{% extends "page.html" %}

{% set bodyclass = "search" %}
{% block pageContent %}
<div class="search">
  Searching for <input type="text" />:
</div>

{% if results.length > 0 %}
<div class="post-list">
  {% for result in results %}
  <div class="post">
    <h1><a href="/{{ result.id }}">{{ result.title }}</a></h1>
    <div class="date">{{ result.date|displayDate }}</div>
    <p>{{ result.snippet|safe }}</p>
  </div>
  {% endfor %}
</div>
{% else %}
<p>No posts found for <strong>{{ query }}</strong>.</p>
{% endif %}
{% endblock %}
